{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{% translate 'Latest Pets' %}</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'pets:pet_create' %}">
            <i class="bi bi-plus-square-fill"></i>
            {% translate 'Add your Pet' %}
        </a>
    </div>
{% endblock content %}