{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
  <h1>{% translate 'Add your pet' %}</h1>
  <form class="pet-form" action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}

    {% crispy formset helper %}

    <button type="submit" class="btn btn-lg btn-secondary">
      {% translate 'Add your pet' %}
    </button>
  </form>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'scripts/petform.js' %}"></script>
{% endblock scripts %}