{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{{ pet.name }}</h1>
    {% if pet.photos.all %}
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        {% for photo in pet.photos.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for photo in pet.photos.all %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
          <img src="{{ photo.picture_lg.url }}" class="d-block w-100" alt="{{ photo.picture.caption }}">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endif %}
    <h3>{% translate 'Age' %}: {{ pet.age }} {% translate 'year' %}{{ pet.age|pluralize }}</h3>
    <h4>{% translate 'Gender' %}: {{ pet.get_gender_display }}</h4>
    <div>{{ pet.bio }}</div>
{% endblock content %}