{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block content %}
<h1>{% translate 'Sign In' %}</h1>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-lg">{% translate 'Sign In' %}</button>
</form>
{% endblock content %}